$font-headings: 'Poppins', sans-serif;
$font-body: 'Open Sans', sans-serif;;
$violet: hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);

*, *::before *::after {
    box-sizing: border-box;
}

body, h1, h2, p {
    margin: 0;
}

input, button {
    font: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    font: 100% $font-body;
}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }